body {
  font-family: Verdana, serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: rgb(98, 98, 98);
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
}

footer {
  font-size: 20px;
}

header {
  font-size: 40px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 60px;
  box-sizing: border-box;
}

section {
  background-color: rgb(180, 180, 180);
  padding: 60px;
  box-sizing: border-box;
}

aside {
  background-color: rgb(240, 240, 240);
  padding: 60px;
  box-sizing: border-box;
}

ul {
  list-style-type:disc;
  padding: 10px;
}

li {
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .container {
      flex-direction: column;
  }

  main {
      flex-direction: row;
  }

  section {
      flex: 2;
      order: 2;
  }

  aside {
      flex: 1;
      order: 3;
  }
}
